<div class="my-3 p-3 bg-info rounded shadow-sm text-center text-light home-buttons">
  <%= link_to "Register", '#', class: "btn btn-lg btn-light text-info font-weight-bold" %>
  <%= link_to "Log in", '#', class: "btn btn-lg btn-light text-info font-weight-bold" %>
</div>
