<% provide :title, "Contact" %>
<main role="main" class="container">
  <div class="d-flex align-items-center p-3 my-3 text-dark-50 bg-light rounded shadow-sm">
    <%= fa_icon "envelope", class: "fa-2x icons text-info" %>
    <div class="lh-100">
      <h6 class="mb-0 text-dark lh-100">help@chatter.com</h6>
    </div>
  </div>

  <div class="d-flex align-items-center p-3 my-3 text-dark-50 bg-light rounded shadow-sm">
    <%= fa_icon "phone", class: "fa-2x phone-icon text-info" %>
    <div class="lh-100">
      <h6 class="mb-0 text-dark lh-100">0207 000 0000 </h6>
    </div>
  </div>
</main>
