<% provide :title, "Users"  %>

<div class="container">
  <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-info rounded shadow-sm">
    <h1 class="mb-0 text-white lh-100 name">All Users</h1>
  </div>
  <%= paginate @users %>
  <%= render @users %>
  <%= paginate @users %>
</div>
