<div class="my-3 p-3 bg-white rounded shadow-sm">
  <% if @feed_posts.any? %>
    <h5 class="text-secondary border-bottom border-gray pb-2 mb-0"><em>Your feed</em></h5>
    <%= render @feed_posts %>
    <%= paginate @feed_posts %>
  <% else %>
  <h5 class="text-secondary border-gray pb-2 mb-0"><em>Post a message or follow a user to see your live feed!</em></h5>
  <% end %>
</div>
